h1 = @question.title

p = @question.body

= link_to 'Delete question', question_path(@question), method: :delete, data: { confirm: 'Аre you sure?' }

= render 'answers/form'

h2 Answers
= render @question.answers